.cont-form{
    width: 50%;
    margin: 100px auto; 
    padding: 15px;
    background:#ffd7ee;
    border:1px dotted #db4c77;
    font-size: 18px;
    line-height: 1;
}
input{
    padding:10px 5px;
    width:40%;
    height:45px;
    border-radius:8px;
    border:1px solid rgb(174, 170, 170);
}
textarea{
    width:30%;
}
.form-group label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.btn-primary {
    border: none;
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
    margin-left:150px;
  }
.btn-primary:hover {
    background-color: #0c437a;
}